version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: kardh
      POSTGRES_USER: kardh
      POSTGRES_PASSWORD: kardh
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    command: gunicorn kardh.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: kardh.settings.prod
      DATABASE_URL: postgres://kardh:kardh@db:5432/kardh
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
